@tailwind base;
@tailwind components;
@tailwind utilities;

/* .sider {
  color: #fff;
} */

.menulist {
  height: 87.1vh;
}

.menu_itemk {
  max-height: 33px;
}

/* 
.table_pmh {
  max-width: 84.8vw;

} */
