@tailwind base;
@tailwind components;
@tailwind utilities;

.menulist {
  height: 87.1vh;
}

.menu_itemk {
  max-height: 33px;
}

.table_pmh .ant-table-body {
  min-height: 418px;
  max-height: 418px;
}

.table_modal .ant-table-body {
  min-height: 220px;
  max-height: 220px;
}
/* .table_modal .ant-table-summary {
  height: 50px;
} */
